:root {
  --primery-text-color: #f5f5f5;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --accent-text-color: #ffffff;
  --text-color: #212121;
  --card-sat-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--accent-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.9;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}

p {
  color: #757575;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

/*Шапка*/
header {
  background-color: var(--accent-text-color);
  border-bottom: 1px solid #ececec;
}

.auth {
  display: flex;
  margin-left: 93px;
}

.auth .item:not(:last-child) {
  margin-right: 50px;
}

.contact .contact-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.title-header {
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  margin-left: auto;
}

.contact-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link:hover svg,
.contact-link:focus svg {
  fill: #2196f3;
}

.title-link {
  color: var(--accent-color);
}

.link {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header-svg {
  width: 10px;
  height: 16px;
  fill: #757575;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-symbol {
  width: 16px;
  height: 12px;
  fill: #757575;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
}

.contact-item:focus {
  color: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.current {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current:hover,
.current:focus {
  color: var(--accent-color);
}

/*Секція 1*/
.hero {
  text-align: center;
  width: 1600px;
  height: 600px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.hero-title {
  color: var(--accent-text-color);
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 0;
}

.button {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-family: 'Roboto';
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  outline: none;
}

.button-type {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
  border: 1px solid transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.button-type:hover,
.button-type:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  box-shadow: var(--card-shadow);
}
.button-style {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-left: 0;
  padding-top: 94px;
  margin-bottom: 50px;
}
/*Модельне вікно*/

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  width: 528px;
  height: 581px;
  background-color: var(--accent-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal-icon {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-icon:hover svg {
  color: var(--accent-color);
}

.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #000000;
  background: var(--accent-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.modal-button:hover {
  fill: #2196f3;
}

.styles-btn {
  width: 200px;
  height: 50px;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
line-height: 1.9;
  margin-top: 30px;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  outline: none;
}
.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form-field label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}

.form-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  display: block;
}
input:focus,
textarea:focus{

      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus+svg{
    fill: #2196f3;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-field input {
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form-field textarea::placeholder{
    font-size: 12px;
line-height: 1.1;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.topic-options {
  margin: 0;
  padding: 0;
  text-align: center;
}

.text-topic {
  color: var(--accent-color);
  text-decoration: underline;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
}


.checkbox{
    appearance: none;
}

.check__box{
    text-align: center;
    margin-top: 10px;
    
   
}

.icon-checkbox{
    width:16px;
    height: 15px;
}
.check-border{
    opacity: 1;
}
.check{
    opacity: 0;
}
.checkbox:checked + .icon-checkbox>.check{
    opacity: 1;
    fill: #2196f3;
}
.checkbox:focus-within + .icon-checkbox>.check{
background-color: #2196f3;
}




.checkbox:checked + .icon-checkbox>.check-border{
    opacity: 0;
}
.label-text{
 justify-content: center;
 align-items: center;
 text-align: center;
    font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;}


.check-buttom{
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-family: 'Roboto';
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
 justify-content: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 52px;
  margin-top: 30px;
  outline: none;}












/*
.option{
    position: relative;
    flex-direction: row;
    margin-left: 12px;
    margin-top: 20px;
}

.option input{
   appearance: none;
   
}

.option label{
    display: inline-block;
    padding-left: 20px;
  font-size: 14px;
  line-height: 1.7;
letter-spacing: 0.03em;
}


.check__box{
position: absolute;
width: 16px;
height: 15px;
top: 0;
left: 0;
background-color: #2196f3;
border-radius: 2px;
 
 
}

.check__input{
    width: 16px;
    height: 15px;
    appearance: none;
   
    
}*/








/*
<div>
                    <label for="checkbox" class="check option">
                        <input class="check__input" type="checkbox" name="checkbox" id="checkbox">
                       <svg class="check__box">
                        <use href="./image/icon check.svg"></use>
                       </svg>
                        Погоджуюся з розсилкою та приймаю  Умови договору  
                    </label>
                    </div>
.checkbox{
margin-left: -1.2em;
appearance: none;
 position: absolute;
 width: 18px;
 height: 18px;

}
.label{
margin-left: 1.25em;
}
.checkbox{
    appearance: none;
    display: block;
    margin-left: 0.25em;
}

.label-icon{
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #2196f3;
  margin-left: -1.25px;
}

.label-text{
 justify-content: center;
 align-items: center;
 text-align: center;
    font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}*/
/*                    <label class="label">
                    <input class="checkbox" type="checkbox">
                     <span class="label-icon" ></span>  
                   <p class="label-text"> Погоджуюся з розсилкою та приймаю <a href="#"><span class="text-topic" >Умови договору</span></a></p>
                    </label>              
                    <button class="styles-btn" type="submit">Відправити</button>*/
/*Секція 2*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-title {
  color: var(--text-color);
  display: flex;
  margin-top: 0;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}
.list-title :last-child {
  margin-right: 0;
}

.title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-conteiner {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 118px;
  width: 270px;
  margin-right: 30px;
}

.title-text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
}

.title-image {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.font-image {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.photo-title {
  margin-right: 30px;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../image/icons.svg/antenna.svg);
  display: block;
  content: '';
  height: 120px;
  width: 270px;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  background-position: center;
}

.icon-clock::before {
  display: block;
  content: '';
  height: 120px;
  width: 270px;
  background-image: url(../image/icons.svg/clock\ .svg);
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  background-position: center;
}
.icon-diagram::before {
  display: block;
  content: '';
  height: 120px;
  width: 270px;
  background-image: url(../image/icons.svg/diagram\ .svg);
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  background-position: center;
}
.icon-astronaut::before {
  display: block;
  content: '';
  height: 120px;
  width: 270px;
  background-image: url(../image/icons.svg/astronaut\ \ .svg);
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  background-position: center;
}

.photo-port {
  padding: 0;
  list-style: none;
  margin-right: 30px;
  margin-bottom: 0;
  background-color: var(--accent-text-color);
  box-shadow: var(--card-shadow);
}

.photo-port:last-child {
  margin-right: 0;
}
.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.photo-portfolio {
  margin-right: 30px;
  position: relative;
}
.photo-portfolio:last-child {
  margin-right: 0;
}

.product-style {
  position: absolute;
  color: var(--accent-text-color);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  margin: 0;
}

/*Секція 3*/

.section-title {
  font-family: 'Roboto';
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-futures {
  display: flex;
  margin: 0;
  justify-content: center;
  padding-left: 0;
}

.section-image {
  background-color: var(--primery-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.futures {
  color: var(--text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.text-futures {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
}

.futures-image {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}
.font {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 0;
  color: #afb1b8;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
/* Секція 4*/

.clien-list {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.client-social {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  text-align: center;
  justify-content: center;
  padding: 16px 32px;
}

.client-link:hover svg,
.client-link:focus svg {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Підвал*/
address {
  color: var(--accent-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 9px;
}

footer {
  background-color: var(--text-color);
  box-shadow: var(--card-shadow);
  display: flex;
  height: 252px;
 
}
.contact-title {
  display: contents;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 9px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

.title-footer {
  color: var(--accent-text-color);
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  margin-top: 60px;
  margin-bottom: 20px;
}
.section-footer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 0;
  margin-right: 10px;
  color: var(--accent-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer:hover,
.social-footer:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-symbol {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.font-footer {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}
.conteiner-footer {
  display: flex;
}
.footer-up {
  display: flex;
  margin-top: 60px;
  align-items: baseline;
  justify-content: space-between;
}
.section-footer {
  margin-left: 70px;
  margin-bottom: 20px;
}
.form-footer{
    display: flex;
}
.form-footer input::placeholder{
color: var(--accent-text-color);
padding-left: 16px;
padding-top: 15px;
padding-bottom: 15px;
}
.form-footer input{
    color: var(--accent-text-color);
   
}
.styles-footer{
    display:flex;
}
.div-footer{
    position: relative;
}

.footer-submit{
    margin-left: 93px;
}
.styles-footer{
width: 200px;
height: 50px;
 color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-family: 'Roboto';
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding-left: 28px;
  padding-right: 0;
  padding-bottom: 0;
padding-top: 0;
  margin-left: 12px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}
.styles-footer:focus{
     outline: 1px solid var(--accent-color);
}
.email-svg{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 28px;
    bottom: 13px;
    background-color:var(--accent-color);
   
}
.mail-id{
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding: 0;
background-color:var(--text-color);

}
.form-mail{
    font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color:var(--accent-text-color);
}

/* Секція фото portfolio*/
.text-port {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.text-image {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.photo:hover,
.photo:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Card*/

.font-image {
  margin: 0;
  padding-left: 0;
  padding-bottom: 94px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-sat-gap));
  margin-top: calc(-1 * var(--card-sat-gap));
}

.font-image > .photo {
  flex-basis: calc (100% / 3 - 30px);
  margin-left: var(--card-sat-gap);
  margin-top: var(--card-sat-gap);
}

.card-content {
  padding: 20px 24px;
}

.card-content {
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.card-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-link:hover .portfolio-card,
.overlay-link:focus .portfolio-card {
  opacity: 1;
  transform: translateY(0);
}
.overlay-link:hover .card-content,
.overlay-link:focus .card-content {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*font-family: 'Montserrat',
sans-serif;
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif;*/

/*<svg class="modal-icon">
   <use class="modal-svg"  href="./image/icons.svg/symbol-----defs.svg#icon-vector-4"></use>
     </svg>*/
